/*
 * Copyright (c) 2025 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#ifdef CONFIG_TITAN8000_BUZZER

/ {
    behaviors {
        /omit-if-no-ref/ buzzer_tog: buzzer_tog {
            compatible = "zmk,behavior-buzzer-tog";
            #binding-cells = <0>;
        };
    };
};

#endif /* CONFIG_TITAN8000_BUZZER */
